rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{nickname} {
      allow read, write: if true;
      match /wrongQuestions/{questionId} {
        allow read, write: if true;
      }
    }
  }
}
